{% extends "base.html.twig" %}
{% block body %}
<div class="imagebg" style="height: 100vh; width: 100vw; padding-top: 10%; background-image: url(img/hero-1.jpg)!important; background-size: cover!important;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7">
                <div class="rounded p-3 bg-white">
                    <div class="col-md-10 col-md-offset-1 col-sm-12">
                        <h3>Portal de Solicitud de Ingreso y Egreso organizado, ágil y seguro a Nicaragua de visitantes de otras Nacionalidades </h3>
                        <p class="lead">
                            Es un facilitador que no modifica las categorias migratorias
                        </p>
                        <hr class="short">
                        <div class="col-md-12 pl0">
                        <div class="bar__module">
                            <button
                                id="solicitud"
                                data-bs-toggle="modal"
                                data-bs-target="#exampleModal"
                                class="border btn btn-light bg-white text-blue border-primary type-uppercase"
                            >
                                Consultar Estado de mi Solicitud
                            </button>

                            <a class="btn btn-primary type-uppercase" href="#">
                                <span class="btn_text" style="color: white;">
                                    Nueva solicitud
                                </span>
                            </a>
                        </div>
                        <!--end module-->
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <input class="form-control" id="exampleFormControlInput1" placeholder="Número de Ticket">
                    </div>
                    <div class="mb-3">
                        <input class="form-control" id="exampleFormControlInput2" placeholder="Código de verificación">
                    </div>
                    <div class="mb-3">
                        <img style="width: 163px; height: 40px" src="img/recaptcha.jpeg" class="mb-3 d-block" />
                        <label for="exampleFormControlInput3">escriba el código de seguridad</label>
                        <input class="form-control" id="exampleFormControlInput3">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary">Consultar</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
